# Directorio de dependencias de Node.js
node_modules/

# Archivos de variables de entorno sensibles
# Ignora cualquier archivo .env, .env.local, o .env.MODO.local dentro del Frontend
.env
.env.local
.env.*.local
.env.development.local
.env.test.local
.env.production.local

# Directorios y archivos de build/salida para Vite/React
dist/
dist-ssr/
build/
out/
coverage/

# Archivos de logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*