# Directorio de dependencias de Node.js
node_modules/

# Archivos de variables de entorno sensibles
# Ignora cualquier archivo .env, .env.local, o .env.MODO.local dentro del Backend
.env
.env.local
.env.*.local
.env.development.local
.env.test.local
.env.production.local

# Directorios de salida del codigo compilado por TypeScript
dist/
build/

# Archivos de logs
*.log
npm-debug.log
yarn-error.log
pnpm-debug.log*
lerna-debug.log*
